/* html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .card {
  width: 280px;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.image {
  max-width: 100%;
}

.header {
  padding: 1.25rem;
}

.subtitle {
  margin: 0 0 0.25rem;
  font-size: 0.75rem;
  color: #666;
}

.title {
  margin: 0;
  font-size: 1.75rem;
}

.content {
  padding: 1.25rem;
  color: #666;
  line-height: 1.4;
} */




/* body {
  background-color: #dddddd;
} */

.card {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.card-img img {
  padding: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-body {
  margin-top: -100px;
  border-radius: 15px;
  padding-top: 100px;
  background-color: #ffffff;
}
